#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
            >;
        };

        layer_1 {
            bindings = <
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
            >;
        };

        layer_2 {
            bindings = <
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
            >;
        };

        layer_3 {
            bindings = <
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
            >;
        };

        layer_4 {
            bindings = <
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
            >;
        };

        layer_5 {
            bindings = <
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
&kp A  &kp A  &kp A  &kp A  &kp A  &kp A                  &kp A  &kp A  &kp A  &kp A  &kp A  &kp A
            >;
        };
    };
};
